
body {
    background-color: black;
    color: #fff;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.button {
    font-weight: 300;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #efefef;
    padding: .5em;
    border-radius: 3px;
    float: left;
    margin: 6em 0 0 -155px;
    left: 50%;
    position: relative;
    transition: all .3s linear;
}

.button:hover {
    background-color: black;
    color: #fff;
}

p {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}


h1 {
    text-align: center;
    font-size: 15em;
    font-weight: 100;
    text-shadow: #ffffff 1px 1px, #ffffff 2px 2px, #ffffff 3px 3px, #ffffff 4px 4px, #ffffff 5px 5px, #ffffff 6px 6px, #ffffff 7px 7px, #ffffff 8px 8px, #ffffff 9px 9px, #ffffff 10px 10px,
    #ffffff 11px 11px, #ffffff 12px 12px, #ffffff 13px 13px, #ffffff 14px 14px, #ffffff 15px 15px, #ffffff 16px 16px, #ffffff 17px 17px, #ffffff 18px 18px, #ffffff 19px 19px, #ffffff 20px 20px,
    #ffffff 21px 21px, #ffffff 22px 22px, #ffffff 23px 23px, #ffffff 24px 24px, #ffffff 25px 25px, #ffffff 26px 26px, #ffffff 27px 27px, #ffffff 28px 28px, #ffffff 29px 29px, #ffffff 30px 30px,
    #ffffff 31px 31px, #ffffff 32px 32px, #ffffff 33px 33px, #ffffff 34px 34px, #ffffff 35px 35px, #ffffff 36px 36px, #ffffff 37px 37px, #ffffff 38px 38px, #ffffff 39px 39px, #ffffff 40px 40px,
    #ffffff 41px 41px, #ffffff 42px 42px, #ffffff 43px 43px, #ffffff 44px 44px, #ffffff 45px 45px, #ffffff 46px 46px, #ffffff 47px 47px, #ffffff 48px 48px, #ffffff 49px 49px, #ffffff 50px 50px,
    #ffffff 51px 51px, #ffffff 52px 52px, #ffffff 53px 53px, #ffffff 54px 54px, #ffffff 55px 55px, #ffffff 56px 56px, #ffffff 57px 57px, #ffffff 58px 58px, #ffffff 59px 59px, #ffffff 60px 60px,
    #ffffff 61px 61px, #ffffff 62px 62px, #ffffff 63px 63px, #ffffff 64px 64px, #ffffff 65px 65px, #ffffff 66px 66px, #ffffff 67px 67px, #ffffff 68px 68px, #ffffff 69px 69px, #ffffff 70px 70px,
    #ffffff 71px 71px, #ffffff 72px 72px, #ffffff 73px 73px, #ffffff 74px 74px, #ffffff 75px 75px, #ffffff 76px 76px, #ffffff 77px 77px, #ffffff 78px 78px, #ffffff 79px 79px, #ffffff 80px 80px,
    #ffffff 81px 81px, #ffffff 82px 82px, #ffffff 83px 83px, #ffffff 84px 84px, #ffffff 85px 85px, #ffffff 86px 86px, #ffffff 87px 87px, #ffffff 88px 88px, #ffffff 89px 89px, #ffffff 90px 90px,
    #ffffff 91px 91px, #ffffff 92px 92px, #ffffff 93px 93px, #ffffff 94px 94px, #ffffff 95px 95px, #ffffff 96px 96px, #ffffff 97px 97px, #ffffff 98px 98px, #ffffff 99px 99px, #ffffff 100px 100px,
    #ffffff 101px 101px, #ffffff 102px 102px, #ffffff 103px 103px, #ffffff 104px 104px, #ffffff 105px 105px, #ffffff 106px 106px, #ffffff 107px 107px, #ffffff 108px 108px, #ffffff 109px 109px, #ffffff 110px 110px,
    #ffffff 111px 111px, #ffffff 112px 112px, #ffffff 113px 113px, #ffffff 114px 114px, #ffffff 115px 115px, #ffffff 116px 116px, #ffffff 117px 117px, #ffffff 118px 118px, #ffffff 119px 119px, #ffffff 120px 120px,
    #ffffff 121px 121px, #ffffff 122px 122px, #ffffff 123px 123px, #ffffff 124px 124px
}
