{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Search Statistics with Chart.js</title>
</head>
<body>
    <div class="container">
        <h1>Car Statistics</h1>

        <div class="section">
            <canvas id="carChart" width="400" height="200"></canvas>
            <script>
                var carData = {
                    labels: [{% for car in cars %}'{{ car.brand }} {{ car.model.name }}',{% endfor %}],
                    datasets: [{
                        label: 'Total VIN Searches',
                        data: [{% for car in cars %}{{ car.total_vin_search_count }},{% endfor %}],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                };

                var carCtx = document.getElementById('carChart').getContext('2d');
                var carChart = new Chart(carCtx, {
                    type: 'bar',
                    data: carData,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>



        <div class="section">
            <h2>User Search Statistics</h2>
            <canvas id="userChart" width="400" height="200"></canvas>
            <script>
                var userData = {
                    labels: [{% for user in users %}'{{ user.email }} ({{ user.last_search_date }}) - {{ user.total_vin_search_count }} cars',{% endfor %}],
                    datasets: [{
                        label: 'Total VIN Searches',
                        data: [{% for user in users %}{{ user.total_vin_search_count }},{% endfor %}],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                };

                var userCtx = document.getElementById('userChart').getContext('2d');
                var userChart = new Chart(userCtx, {
                    type: 'bar',
                    data: userData,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
   <h1>VIN Search Statistics</h1>

<div class="section">
    <canvas id="vinChart" width="400" height="200"></canvas>
    <script>
        var vinData = {
            labels: [{% for stat in vin_search_stats %}'{{ stat.vin }} ({{ stat.created_at }})',{% endfor %}],
            datasets: [{
                label: 'VIN Searches',
                data: [{% for stat in vin_search_stats %}{{ stat.search_count_by_date }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };

        var vinCtx = document.getElementById('vinChart').getContext('2d');
        var vinChart = new Chart(vinCtx, {
            type: 'pie',
            data: vinData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
    </div>

</body>
</html>
