{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode VIN</title>
</head>
<body>

<h2 class="header_class">Decode VIN</h2>
<form method="post" action="{% url 'new_decode_vin' user_id=user.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Decode</button>
</form>
<div style="justify-content:center " class="container"><a  href="{% url 'car_search_statistics' %}" class="statistics">Statistics</a></div>
</body>
</html>
