{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
<h1 class="header_class">Login</h1>
<form method="post" action="{% url 'login' %}">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
            <br>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    <label for="username">Email:</label>
    <input type="text" name="email" id="email">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="Login">
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>.</p>
</form>
</body>
</html>
