{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decoded Car Information</title>
</head>
<body>
<h2 class="header_class">Decoded Car Information</h2>
<div class="container">
    <p class="result">VIN Code: <span class="change_color">{{ vin_code }}</span></p>
    <p class="result">Region: <span class="change_color">{{ car.region.name }}</span></p>
    <p class="result">Country: <span class="change_color">{{ car.country.name }}</span></p>
    <p class="result">Brand: <span class="change_color">{{ car.brand.name }}</span></p>
    <p class="result">Model: <span class="change_color">{{ car.model.name }}</span></p>
    <p class="result">Year: <span class="change_color">{{ car.year.year }}</span></p>
</div>
